{% extends 'default.html' %}

{% set active_page = "dashboard" %}

{% set page_title = "dashboard" %}

{% block title %}
    Dashboard
{% endblock %}

{% block default_content %}

  <div class="page-header">
    <h3 class="page-title">Apps</h3>
  </div>

  <div class="row row-cards row-deck mt-4">
    <div class="col-12">
      <div class="card">
        <div class="table-responsive">
          <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
            <thead>
            <tr>
              <th>App</th>
              <th>Information</th>
              <th class="text-center">First used</th>
              <!--<th class="text-center">Last used</th>-->
            </tr>
            </thead>
            <tbody>
            {% for client_user in client_users %}
            <tr>
              <td>
                {{ client_user.client.name }}
              </td>

              <td>
                {% for scope, val in client_user.get_user_info().items() %}
                  <div>
                    {{ scope }}: {{ val }}
                  </div>
                {% endfor %}
              </td>


              <td class="text-center">
                {{ client_user.created_at | dt }}
              </td>

              {#            TODO: add last_used#}
              <!--
                <td class="text-center">
                  <div>4 minutes ago</div>
                </td>
              -->

            </tr>
            {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="page-header row">
    <h3 class="page-title col">All generated emails</h3>
    <form method="post" class="col text-right">
      <input type="hidden" name="form-name" value="create-new-email">
      <button class="btn btn-success">Generate new email</button>
    </form>
  </div>

  <div class="row row-cards row-deck mt-4">
    <div class="col-12">
      <div class="card">
        <div class="table-responsive">
          <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
            <thead>
            <tr>
              <th>Email</th>
              <th>Actions</th>
              <th>Enable/Disable Email Forwarding</th>
              <th>Created At</th>
            </tr>
            </thead>
            <tbody>
            {% for gen_email in gen_emails %}
              <tr>
                <td>
                  <div>
                    {{ gen_email.email }}
                  </div>
                </td>

                <td>
                  <div class="btn-group">
                    <button class="clipboard btn btn-secondary btn-sm"
                            data-clipboard-text="{{ gen_email.email }}">
                      Copy
                    </button>

                    <form method="post">
                      <input type="hidden" name="form-name" value="trigger-email">
                      <input type="hidden" name="gen-email-id" value="{{ gen_email.id }}">

                      <button class="btn btn-secondary btn-sm">Trigger Test Email</button>
                    </form>
                  </div>
                </td>

                <td>
                  <form method="post">
                    <input type="hidden" name="form-name" value="switch-email-forwarding">
                    <input type="hidden" name="gen-email-id" value="{{ gen_email.id }}">

                    <label class="custom-switch">
                      <input type="checkbox" class="custom-switch-input"
                          {{ "checked" if gen_email.enabled else "" }}>
                      <span class="custom-switch-indicator"></span>
                    </label>
                  </form>
                </td>

                <td>
                  {{ gen_email.created_at | dt }}
                </td>
              </tr>
            {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}
  <script>
    requirejs.config({
      appDir: '.',
      paths: {
        'clipboard': ['/static/vendor/clipboard.min'],
        'notie': ['/static/vendor/notie.min']
      }
    });

    require(['clipboard', 'notie', 'jquery'], function (Clipboard, notie, $) {
      var clipboard = new Clipboard('.clipboard');

      clipboard.on('success', function (e) {
        notie.alert({
          type: "success",
          text: "Copied to clipboard",
          time: 1,
        });

        e.clearSelection();
      });

      $(".custom-switch-input").change(function (e) {
        var message = "";

        if (e.target.checked) {
          message = `After this, you will start receiving email sent to this email address, please confirm`;
        } else {
          message = `After this, you will stop receiving email sent to this email address, please confirm`;
        }

        notie.confirm({
          text: message,
          cancelCallback: () => {
            // reset to the original value
            var oldValue = !$(this).prop("checked");
            $(this).prop("checked", oldValue);
          },
          submitCallback: () => {
            $(this).closest("form").submit();
          }
        });
      })
    })
  </script>
{% endblock %}
