{% extends 'default.html' %}

{% block title %}
    Authorization
{% endblock %}

{% block default_content %}
  <form class="card" method="post" action="./allow-deny">
    <div class="card-body p-6">
      <div class="card-title">
        <b>{{ client.name }}</b> will receive
      </div>

      <ul>
        {% for scope in client.scopes %}
            <li>{{ scope.name }}</li>
        {% endfor %}
      </ul>

      <input type="hidden" name="client-id" value="{{ client.id }}">
      <input type="hidden" name="state" value="{{ state }}">

      <div class="form-group">
        <div class="custom-controls-stacked">
          <label class="custom-control custom-checkbox">
            <input type="checkbox" name="gen-email"
                   class="custom-control-input" checked>
            <span class="custom-control-label">Generate a new email</span>
          </label>
        </div>

        <small class="form-text text-muted">
          If checked, a new random email address will be generated for this app.
        </small>
      </div>


      <div class="form-footer">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="submit" name="button" value="allow"
                  class="btn btn-success">Allow
          </button>

          <button type="submit" name="button" value="deny"
                  class="btn btn-light">Deny
          </button>
        </div>


      </div>
    </div>
  </form>
{% endblock %}