{% from "_formhelpers.html" import render_field %}

{% extends 'base_app.html' %}

{% block title %}
    Authorization
{% endblock %}

{% block content %}
    {{ client.name }} would like to have access to your following data. Do you allow?

    <ul>
        {% for scope in client.scopes %}
            <li>{{ scope.name }}</li>
        {% endfor %}
    </ul>
    <form method="post" action="./allow-deny">
        <input type="hidden" name="client-id" value="{{ client.id }}">
        <input type="hidden" name="state" value="{{ state }}">

        <button type="submit" name="button" value="allow" class="btn btn-success">Allow</button>

        <button type="submit" name="button" value="deny" class="btn btn-light">Deny</button>
    </form>

{% endblock %}
