{% from "_formhelpers.html" import render_field %}

{% extends 'base_app.html' %}

{% set active_page = "developer" %}

{% block title %}
    Developer
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead class="thead-light">
        <tr>
            <td>Name</td>
            <td>Client ID</td>
            <td>Client Secret</td>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.name }}</td>
                <td>{{ client.client_id }}</td>
                <td>
                    <button class="btn btn-info"
                            data-clipboard-text="{{ client.client_secret }}">
                        Copy to clipboard
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block script %}
    <script>
        var clipboard = new ClipboardJS('.btn');

        clipboard.on('success', function (e) {
            toastr.options.timeOut = 30; // How long the toast will display without user interaction
            toastr.info('Copied to clipboard');

            e.clearSelection();
        });
    </script>
{% endblock %}