{% from "_formhelpers.html" import render_field %}

{% extends 'base_app.html' %}

{% set active_page = "developer" %}

{% block title %}
    Developer
{% endblock %}

{% block content %}
    <a href="{{ url_for('developer.new_client') }}">Create new client</a>

    <table class="table table-striped">
        <thead class="thead-light">
        <tr>
            <td>Name</td>
            <td>Client ID</td>
            <td>Client Secret</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>
                    <a href="{{ url_for('developer.client_detail', client_id=client.id) }}">
                        {{ client.name }}
                    </a>
                </td>
                <td>{{ client.client_id }}</td>
                <td>
                    <button class="btn btn-info"
                            data-clipboard-text="{{ client.client_secret }}">
                        Copy to clipboard
                    </button>
                </td>
                <td>
                    <form method="post"
                          onsubmit="return confirm('Please make sure no user is using this client. This operation is not reversible');">
                        <input type="hidden" name="form-name" value="delete-client">
                        <input type="hidden" name="client-id" value="{{ client.id }}">
                        <button type="submit" class="btn btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block script %}
    <script>
        var clipboard = new ClipboardJS('.btn');

        clipboard.on('success', function (e) {
            toastr.options.timeOut = 30; // How long the toast will display without user interaction
            toastr.info('Copied to clipboard');

            e.clearSelection();
        });
    </script>
{% endblock %}